<h1>Create Post!</h1>

<form action="<%= posts_url  %>" method="POST">
  <%= auth_token %>
  <label for="title">title:</label>
  <input type="text" name="posts[title]" id="title" value="<%= @post.title %>">
  <br>

  <label for="url">url:</label>
  <input type="text" name="posts[url]" id="url" value="<%= @post.url %>">
  <br>

  <label for="description">description:</label>
   <textarea cols="25" id="description" name="posts[content]" rows="10" ><%= @post.content %></textarea>
  <br>

  <input type="Submit" value="Post">
</form>
